.container {
  margin-bottom: 4em;
}

.avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  border-radius: 50%;
  flex-basis: 16%;
}

.description {
  margin-top: 0.5em;
  margin-bottom: var(--spacing-0);
}

.socials {
  margin-top: 1em;
}

.links {
  margin-right: 1.5em;
}
