.container {
  margin-top: 5em;
}

.revue-embed-title {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #005b99;
  font-weight: 700;
}

.revue-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.revue-form-group {
  margin: 0.5em auto;
  width: 100%;
}

.revue-form-label {
  display: block;
}

.revue-form-container {
  display: flex;
}

.revue-form-field,
.revue-form-field-name {
  height: 100%;
  border: 1px solid #005b99;
  border-radius: 0.5em 0 0 0.5rem;
  padding: 0.5em 0.5em;
}

.revue-form-field::placeholder,
.revue-form-field-name::placeholder {
  color: #9c9c9c;
}

.revue-form-field {
  width: 100%;
}

.revue-form-submit {
  width: 10em;
  border: none;
  border-radius: 0 0.5em 0.5em 0;
  background-color: #005b99;
  color: #fff;
  cursor: pointer;
}
